@model LOLWildRift.Web.Models.ChampionsEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-12">
            <img src="@Html.DisplayFor(model => model.IMAGE_PATH)" height="80" width="80">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NAME)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NAME)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HISTORY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HISTORY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.STATS_DAMAGE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.STATS_DAMAGE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.STATS_TOUGHNESS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.STATS_TOUGHNESS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.STATS_UTILITY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.STATS_UTILITY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.STATS_DIFFICULITY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.STATS_DIFFICULITY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ROLE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ROLE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LANE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LANE)
        </dd>

    </dl>
</div>
<div>
    <button type="button" class="btn btn-outline-warning"
            onclick="location.href='@Url.Action("Edit", "Champions", new { id =  Model.ID })'">
        Edit
    </button>
    <button type="button" class="btn btn-outline-info" onclick="location.href='@Url.Action("Index", "Champions")'">Back to List</button>
</div>
