@model IEnumerable<LOLWildRift.Web.Models.ChampionsEntity>

@{
    ViewData["Title"] = "Champion";
    ViewData["Login"] = ViewData["_authen"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Champion List</h1>

<div class="row" style="margin-bottom:10px;">
    <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary" id="btnCreate" style="display:none"
                onclick="location.href='@Url.Action("Create", "Champions")'">
            Create champion
        </button>
    </div>
    <div class="col-md-6">
        <form asp-action="Index" method="get" class="form-inline">
            <input type="text" placeholder="search" class="form-control" name="searchString" value="@ViewData["CurrentFilter"]" style="width:70%" />
            <input type="submit" value="Search" class="btn btn-outline-info" style="width:30%" />
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HISTORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATS_DAMAGE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATS_TOUGHNESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATS_UTILITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATS_DIFFICULITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LANE)
            </th>
            <th>
                IMAGE
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label id="lblName_@item.ID"> @Html.DisplayFor(modelItem => item.NAME)</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HISTORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATS_DAMAGE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATS_TOUGHNESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATS_UTILITY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATS_DIFFICULITY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LANE)
                </td>
                <td>
                    <img src="@item.IMAGE_PATH" height="80" width="80">
                </td>
                <td>
                    <button type="button" class="btn btn-outline-warning btnEdit" style="width:100%; height:auto; display:none"
                            onclick="location.href='@Url.Action("Edit", "Champions", new { id = item.ID })'">
                        <i class="far fa-edit"></i>
                        @*Edit*@
                    </button>

                    <button type="button" class="btn btn-outline-info" style="width: 100%; height: auto"
                            onclick="location.href='@Url.Action("Details", "Champions", new { id = item.ID })'">
                        <i class="fa fa-info-circle"></i>
                        @*Details*@
                    </button>
                    <button type="button" class="btn btn-outline-danger btnDelete" style="width: 100%; height: auto; display:none"
                            id="btnDelete" data-id="@item.ID" >
                        <i class="fa fa-trash"></i>
                        @*Delete*@
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>


<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to delete this?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" id="lblID" />
                    <label id="lblName"></label>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnAcceptDelete">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //Javascript
        $(".table").on("click", "#btnDelete", function() {
                var id = $(this).data('id');
                document.getElementById('lblID').value = id;
                document.getElementById('lblName').innerHTML = "Champion : " + document.getElementById('lblName_' + id).innerHTML;
            $('#deleteModal').modal('show');
            });

        $(function() {
            //Jquery
            $("#btnAcceptDelete").click(function() {
                    var url = "/Champions/Delete";
                    var id = parseInt($('#lblID').val());
                //ajax
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { id: id, name: document.getElementById('lblName_' + id).innerHTML },
                    success: function(data) {
                            window.location.reload();
                        }
                    });
                });
            });

        $(document).ready(function() {
              @if(ViewData["_authen"].ToString() != "") {
              <text>
            /*ID = Single
              Class = Multiple */
              $('.btnEdit').show();
            $('#btnCreate').show();
            $('.btnDelete').show();
              </text>
              }

            });

    </script>
}
