@model IEnumerable<LOLWildRift.Web.Models.RoleEntity>

@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Role</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROLE_NAME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <label id="lblName_@item.ID"> @Html.DisplayFor(modelItem => item.ROLE_NAME)</label>
                    <input id="txtName_@item.ID" type="text" value="@Html.DisplayFor(modelItem => item.ROLE_NAME)" style="display:none" />
                </td>
                <td>
                    <button type="button" class="btn btn-outline-warning btnEdit" id="btnEdit_@item.ID" style="width:50%; height:auto;"
                            data-id="@item.ID">
                        <i class="far fa-edit"  style="width:auto;height:auto"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger" style="width: 50%; height: auto"
                            id="btnDelete_@item.ID" data-id="@item.ID">
                        <i class="fa fa-trash" style="width:auto;height:auto"></i>
                    </button>
                    <button type="button" class="btn btn-outline-info btnApply" id="btnApply_@item.ID" style="width:50%; height:auto;display:none"
                            data-id="@item.ID">
                        Edit
                    </button>
                    <button type="button" class="btn btn-outline-danger btnCancle" id="btnCancle_@item.ID" style="width:50%; height:auto;display:none"
                            data-id="@item.ID">
                        Cancle
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.btnEdit').click(function () {
                var id = $(this).data('id');
                $('#btnEdit_' + id).hide();
                $('#btnDelete_' + id).hide();
                $('#lblName_' + id).hide();

                $('#txtName_' + id).show();
                $('#btnApply_' + id).show();
                $('#btnCancle_' + id).show();

            });

            $('.btnApply').click(function () {
                EditOrCancle($(this).data('id'));
            });

            $('.btnCancle').click(function () {
                EditOrCancle($(this).data('id'));
            });

            function EditOrCancle(id) {
                $('#btnEdit_' + id).show();
                $('#btnDelete_' + id).show();
                $('#btnApply_' + id).hide();
                $('#btnCancle_' + id).hide();
                $('#lblName_' + id).show();
                $('#txtName_' + id).hide();
            }
        });
    </script>
}
